.dictionary {
    position: relative;
    width: 100vh;
    height: 80vh;
    background-color: rgba(112, 128, 144, 0.6);
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
}


.dictionary-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}


.dictionary-info {
    font-size: 14px;
    text-align: right;
    text-transform: uppercase;
}
