.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
}


.header label {
    display: block;
    cursor: pointer;
}


.header label img {
    margin-top: 20px;
    width: 60px;
}


.header-inner {
    padding: 30px 20px;
    width: 300px;
    height: 500px;
    display: none;
    background-color: rgba(118, 118, 142, 0.9);
    overflow: hidden;
    z-index: 5000;
}


.header-inner h2 {
    margin-bottom: 20px;
}


.header-inner ul {
    display: inline-block;
}


.header-inner li {
    list-style: none;
    margin: 10px 0;
}


.header-inner li a {
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;

    transition: color 0.2s linear;
}


.header-inner a:hover {
    color: black;
}


#toggle {
    display: none;
}


#toggle:checked ~ .header-inner {
    display: block;
}
